In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
dados = pd.read_csv('dados/sales_train.csv')
item_cat = pd.read_csv("dados/item_categories.csv")
item = pd.read_csv("dados/items.csv")
sub = pd.read_csv("dados/sample_submission.csv")
shops = pd.read_csv("dados/shops.csv")
test = pd.read_csv("dados/test.csv")

In [15]:
dados.head()

         data  mes_consecutivo  loja_id  item_id  preco_item  venda_item_dia
0  02.01.2013                0       59    22154      999.00             1.0
1  03.01.2013                0       25     2552      899.00             1.0
2  05.01.2013                0       25     2552      899.00            -1.0
3  06.01.2013                0       25     2554     1709.05             1.0
4  15.01.2013                0       25     2555     1099.00             1.0

In [16]:
dados['item_id'].value_counts()

20949    31340
5822      9408
17717     9067
2808      7479
4181      6853
         ...
593          1
13866        1
16574        1
20668        1
0            1
Name: item_id, Length: 21807, dtype: int64

In [17]:
dados = dados[dados['venda_item_dia'] < 2000]

In [18]:
dados = dados[dados['preco_item'] < 300000]

In [19]:
correcao_preco = dados[(dados['loja_id'] == 32) & (dados['item_id'] == 2973) & (dados['mes_consecutivo'] == 4) & (dados['preco_item'] > 0)].preco_item.median()

In [20]:
dados.loc[dados['preco_item'] < 0, 'preco_item'] = correcao_preco